<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        Usuário: <input type="text" name="username"><br>
        Senha: <input type="password" name="password"><br>
        <label for="admin">Administrador:</label>
        <input type="checkbox" id="admin" name="admin"><br>
        <label for="superadmin">Super Administrador:</label>
        <input type="checkbox" id="superadmin" name="superadmin"><br>

        <button type="submit">Cadastrar-se</button>
    </form>

    <a href="{{ url_for('homepage') }}">
        <button>Voltar</button>
    </a>
    
</body>
</html>