<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        Usuário: <input type="text" name="username"><br>
        Senha: <input type="password" name="password"><br>
        <form action="{{ url_for('estoque') }}">
            <button type="submit">Login</button>
        </form>
    </form>
    <form action="{{ url_for('cadastrar') }}">
        <button type="submit">Cadastrar-se</button>
    </form>
    
</body>
</html>